@model PagedList.IPagedList<WebMVCHelp.Models.Credit>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Descrição
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CreditId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CreditId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CreditId })
            </td>
        </tr>
    }
    @if (Model.HasNextPage || Model.HasPreviousPage)
    {
    <tr>
        <td colspan="2" style="text-align:center">
           @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
        </td>        
    </tr>
    }
</table>
